version: '3.8'
services:
  db:
    image: postgres:15
    container_name: internship-postgres
    environment:
      POSTGRES_DB: tasks
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: internship-redis
    ports:
      - "6379:6379"

  ipfs:
    image: ipfs/go-ipfs:latest
    container_name: internship-ipfs
    ports:
      - "5001:5001"
      - "4001:4001"
      - "8080:8080"

volumes:
  db-data:
